{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>

    <!--Media chrome-->
    ​​<script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@3/+esm"></script>
    <!--Styles-->
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    <title>{% block title %} {% endblock %}</title>
</head>
<body hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'>
    {% block content %}
    {% endblock %}
</body>
</html>