{% extends 'overlay/base.html' %}

{% block content %}

<div hx-ext="ws" ws-connect="{{socket_url}}">
    
    <div id="player-container" hx-swap-oob="outerHTML">
        <audio id="play"></audio>
    </div>

</div>


<script>
    function hidePlayer() {
        let wrapper = document.getElementById("player-container")
        wrapper.style.display = "none"
        let audio = document.getElementById("player")
        audio.remove()
    }

    function play() {
        let audio = document.getElementById("player")
        audio.play()
    }

</script>

{% endblock %}