<div class="py-5">
<div class="flex flex-col md:flex-row justify-between font-grotesk">
    <div>
        <h1 class="text-lg text-white pt-5 font-medium">
            Upgrade your plan
        </h1>
        <p class="text-gray-200">
            Get unlimited runs by upgrading to the creator plan.
        </p>
        <p class="text-gray-200">
            We only charge you for your usage, and it get’s cheaper as you go
        </p>
    </div>
    <a 
    href="https://justestinguy.lemonsqueezy.com/buy/18f797b4-630a-4aa9-8286-48fbf0487d4e?embed=1&discount=0&checkout[custom][user_id]={{request.user.id}}"
    class="lemonsqueezy-button hidden md:flex mt-5 h-10 text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2">
        Upgrade
</a>
</div>

<div class="flex flex-col md:flex-row font-grotesk pt-5 gap-5">
    <div class="flex flex-1 flex-col justify-between p-5 rounded-lg  bg-zinc-900">
        <h2 class="text-2xl text-white font-medium">
            Flat $8 a month
        </h2>
        <p class="text-sm text-gray-300 align-baseline mt-5">
            When your monthly usage is between <span class="font-medium text-white">0 to 50 runs</span>
        </p>
    </div>

    <div class="flex flex-1 flex-col justify-between p-5 rounded-lg  bg-zinc-900">
        <h2 class="text-2xl text-white font-medium">
            $0.15/run
        </h2>
        <p class="text-sm text-gray-300 align-baseline mt-5">
            When your monthly usage is between <span class="font-medium text-white">50 to 250 runs</span>
        </p>

    </div>

    <div class="flex flex-1 flex-col justify-between p-5 rounded-lg  bg-zinc-900">
        <h2 class="text-2xl text-white font-medium">
            $0.1/run
        </h2>
        <p class="text-sm text-gray-300 align-baseline mt-5">
            When your monthly usage is <span class="font-medium text-white">over 250 runs</span>
        </p>

    </div>
</div>

<a
    href="https://justestinguy.lemonsqueezy.com/buy/18f797b4-630a-4aa9-8286-48fbf0487d4e?embed=1&discount=0&checkout[custom][user_id]={{request.user.id}}"
    class="lemonsqueezy-button inline-block md:hidden w-full mt-5 h-10 text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2">
    Upgrade
</a>

</div>