{%url 'dashboard:overview' as overview%}
{%url 'dashboard:alert-preferences' as preferences%}
{%url 'dashboard:billing' as billing%}

<div class="flex flex-col-reverse md:flex-row justify-between md:items-center">
    
    <div class="flex flex-col gap-5">
        <h1 class="text-3xl font-grotesk text-white ">Welcome {{request.user}}</h1>

        <nav class="flex p-1 items-center gap-2 bg-zinc-800 rounded-md w-fit" aria-label="Tabs">
            <a
            href="{{overview}}"
            class="{%if request.get_full_path == overview %}shrink-0 font-medium text-xs py-1.5 px-3 bg-zinc-950 text-white rounded-lg{%else%}shrink-0 font-medium text-xs py-1.5 px-3 text-gray-400{%endif%}"
            >
            Overview
            </a>
  
            <a
            href="{{preferences}}"
            class="{%if request.get_full_path == preferences %}shrink-0 font-medium text-xs py-1.5 px-3 bg-zinc-950 text-white rounded-lg{%else%}shrink-0 font-medium text-xs py-1.5 px-3 text-gray-400{%endif%}"
            aria-current="page"
            >
            Preferences
            </a>

            <a
            href="{{billing}}"
            class="{%if request.get_full_path == billing %}shrink-0 font-medium text-xs py-1.5 px-3 bg-zinc-950 text-white rounded-lg{%else%}shrink-0 font-medium text-xs py-1.5 px-3 text-gray-400{%endif%}"
            aria-current="page"
            >
            Account Settings
            </a>
            
        </nav>
  
    </div>

    
    <div class="flex">

        <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" type="button">
            <span class="sr-only">Open user menu</span>
            {% if request.user.socialaccount_set.first.extra_data.profile_image_url %}
            <img class="w-10 md:w-12 h-10 md:h-12 rounded-full" src="{{request.user.socialaccount_set.first.extra_data.profile_image_url}}" alt="">
            {% else %}
            <svg class="w-10 md:w-12 h-10 md:h-12 rounded-full" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
            {% endif %}
        </button>
        
        <!-- Dropdown menu -->
        <div id="dropdownAvatar" class="z-10 hidden  divide-y  rounded-lg shadow w-44 bg-zinc-900 divide-zinc-600">
            <div class="px-4 py-3 text-sm text-white">
            <div>Bonnie Green</div>
            <div class="font-medium truncate">name@flowbite.com</div>
            </div>
            <ul class="py-2 text-sm text-zinc-400" aria-labelledby="dropdownUserAvatarButton">
            <li>
                <a href="{{overview}}" class="block px-4 py-2 hover:bg-zinc-800 hover:text-white">Overview</a>
            </li>
            <li>
                <a href="{{preferences}}" class="block px-4 py-2 hover:bg-zinc-800 hover:text-white">Preferences</a>
            </li>
            <li>
                <a href="{{billing}}" class="block px-4 py-2 hover:bg-zinc-800 hover:text-white">Settings</a>
            </li>
            </ul>
            <div class="py-2">
                <form method="POST" action="{% url 'account_logout' %}">
                    {%csrf_token%}
                    <button type="submit" class="flex w-full px-4 py-2 text-sm text-red-300 hover:bg-zinc-800 hover:text-red-600">Sign out</button>
                </form>
            
            </div>
        </div>
        
    




    </div>

</div>