{% extends 'base.html' %}

{% load socialaccount %}



{% block content %}


<div class="flex flex-col p-2 md:ps-5 gap-6 max-w-[450px] mx-auto border border-zinc-800 rounded-lg">

   <div>
    <h1 class="text-white text-3xl font-medium font-grotesk">Get started for free</h1>
    
   
   </div>
   <p class="text-gray-200 text-md font-grotesk">Log in or sign up to SoundBits using your twitch account.</p>
    <form action="{% provider_login_url 'twitch' %}" method="POST">
        {% csrf_token %}
        <button
        type="submit" 
        class=" flex flex-row justify-center  items-center w-full text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2">
        
            <svg class="w-5 h-5 me-2 " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"  preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                <g fill="currentColor"><path d="M3.857 0L1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0zm9.714 7.429l-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142z"></path><path d="M11.857 3.143h-1.143V6.57h1.143zm-3.143 0H7.571V6.57h1.143z"></path></g>
            </svg>
        
            Sign in with Twitch
        </button>
    </form>
</div>    

{% endblock %}
