{% extends "base.html" %}

{% block title%}
Soundbits - Terms and conditions.
{% endblock %}

{% block content %}


<article class="text-gray-200 p-5 max-w-[700px] mx-auto">
    <h1 class="text-2xl"><strong>Soundbits Terms of Service</strong></h1>
    <p class=""><strong>Effective Date:</strong> June 01, 2024</p>

    <h2 class="text-xl mt-5"><strong>1. Acceptance of Terms</strong></h2>
    <p class="">By accessing or using Soundbits (product owned by Fynmost SRL)
        (&quot;we,&quot; &quot;us,&quot; or &quot;our&quot;) SaaS application (the &quot;Service&quot;), you
        agree to comply with and be bound by these Terms of Service (&quot;Terms&quot;). If you do not agree
        with these Terms, you must not use the Service.</p>
    
    <h2 class="text-xl mt-5"><strong>2. Description of Service</strong></h2>
    <p class="">Soundbits provides Twitch streamers with a simple integration that lets their audience generates sound effects using AI, and play it on the livestream,
        using the "cheers" feature on Twitch, wich is a donation using Twitch's in app currency called "bits". 
        The Service is provided on a subscription basis, and additional services may be offered or discontinued at our discretion.
    </p>

    <h2 class="text-xl mt-5"><strong>3. Eligibility</strong></h2>
    <p class="">You must be at least 18 years
        old to use the Service. By using the Service, you represent and warrant that you have the legal capacity
        to enter into a binding agreement.</p>

    <h2 class="text-xl mt-5"><strong>4. Account Registration</strong></h2>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>4.1 Account Information:</strong> When registering for an
            account, you agree to provide accurate, current, and complete information. You are responsible for
            maintaining the confidentiality of your account credentials and for all activities that occur under
            your account.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>4.2 Account Security:</strong> You agree to notify us
            immediately of any unauthorized use of your account. We are not liable for any loss or damage
            arising from your failure to protect your account.</li>
    </ul>
    <h2 class="text-xl mt-5"><strong>5. Use of the Service</strong></h2>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>5.1 License:</strong> We grant you a limited, non-exclusive,
            non-transferable, revocable license to use the Service in accordance with these Terms.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>5.2 Prohibited Activities:</strong> You agree not to:<ul
                class="bulleted-list">
                <li style="list-style-type:circle">Use the Service for any unlawful purpose.</li>
            </ul>
            <ul class="bulleted-list">
                <li style="list-style-type:circle">Disrupt or interfere with the Service or servers.</li>
            </ul>
            <ul class="bulleted-list">
                <li style="list-style-type:circle">Reverse engineer or attempt to extract the source code of the
                    Service.</li>
            </ul>
            <ul class="bulleted-list">
                <li style="list-style-type:circle">Share your account credentials with others or allow multiple
                    users to use your account.</li>
            </ul>
        </li>
    </ul>

    <h2 class="text-xl mt-5"><strong>6. Fees and Payments</strong></h2>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>6.1 Subscription Fees:</strong> The Service is provided on a
            subscription basis, and you agree to pay all applicable fees in accordance with the subscription
            plan you select.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>6.2 Billing:</strong> Subscription fees will be billed on a
            monthly basis, and payment is due at the end of each billing cycle based on the usage of the billing period. If your payment
            method fails, we may suspend or terminate your access to the Service.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>6.3 Refunds:</strong> All fees are non-refundable except as
            required by law or as otherwise specified in the applicable subscription plan and <a href="{%url 'refunds-policy'%}">refund policy</a>.</li>
    </ul>

    <h2 class="text-xl mt-5"><strong>7. Intellectual Property</strong></h2>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>7.1 Ownership:</strong> We retain all rights, title, and
            interest in and to the Service, including all intellectual property rights.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>7.2 User Content:</strong> You retain ownership of any content
            you submit through the Service (&quot;User Content&quot;). By submitting User Content, you grant us
            a non-exclusive, worldwide, royalty-free license to use, copy, modify, and display such content
            solely in connection with providing the Service.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>7.3 Generated Content:</strong> You share ownership with us of any content
            that is AI generated using our service.</li>
    </ul>

    <h2 class="text-xl mt-5"><strong>8. Termination</strong></h2>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>8.1 Termination by You:</strong> You may terminate your account
            at any time by contacting us or through your account settings. Termination will be effective at the
            end of your current billing cycle.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>8.2 Termination by Us:</strong> We reserve the right to suspend
            or terminate your account or access to the Service at any time, with or without notice, for conduct
            that we believe violates these Terms, is harmful to other users, or is illegal.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>8.3 Effect of Termination:</strong> Upon termination, your
            right to use the Service will immediately cease, and we may delete your account and data associated
            with it. We are not liable to you or any third party for termination of your account.</li>
    </ul>
    <h2 class="text-xl mt-5"><strong>9. Disclaimers and Limitation of
            Liability</strong></h2>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>9.1 Disclaimer of Warranties:</strong> The Service is provided
            &quot;as is&quot; and &quot;as available&quot; without any warranties of any kind, either express or
            implied, including, but not limited to, the implied warranties of merchantability, fitness for a
            particular purpose, and non-infringement.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>9.2 Limitation of Liability:</strong> To the maximum extent
            permitted by law, we shall not be liable for any indirect, incidental, special, consequential, or
            punitive damages, including loss of profits, data, or other intangible losses, arising out of or in
            connection with your use of the Service. Any penalty enforced by a third party due to the misuse of our service in accordance to the terms of services of said third party will not be a </li>
    </ul>
    <ul class="bulleted-list">
        <li>
            <strong>9.3 No Liability for Misuse:</strong> We provide the Service with the expectation that users will adhere to all applicable laws, regulations, 
            and the terms and conditions of any third-party services they may use in conjunction with our Service. You acknowledge and agree that any misuse of the Service, 
            including but not limited to, activities that violate the terms of third-party services, is your sole responsibility.
        </li>
    </ul>
    <ul class="bulleted-list">
        <li>
            <strong>9.4 Consequences of Misuse:</strong> shall not be held liable for any penalties, bans, suspensions, fines, or other disciplinary actions imposed by third-party 
            services or platforms as a result of your misuse of the Service. 
        </li>
    </ul>
    <ul class="bulleted-list">
        <li>
            <strong>9.5 Third party services:</strong> You acknowledge that your use of third-party services in conjunction with our Service is subject to the terms and conditions 
            of those third parties. We are not responsible for any issues, penalties, or liabilities arising from your interactions with third-party services. 
        </li>
    </ul>

    <h2 class="text-xl mt-5"><strong>10. Indemnification</strong></h2>
    <p class="">You agree to indemnify and hold harmless Soundbits (Fynmost SRL) and its affiliates, officers, agents, employees, and partners from any claims, liabilities,
        damages, losses, and expenses, including reasonable attorney&#x27;s fees, arising out of or in
        connection with your use of the Service, your violation of these Terms, or your violation of any rights
        of another.</p>

    <h2 class="text-xl mt-5"><strong>11. Governing Law and Dispute Resolution</strong></h2>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>11.1 Governing Law:</strong> These Terms shall be governed by
            and construed in accordance with the laws of Uruguay, without regard to its conflict of
            law principles.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>11.2 Dispute Resolution:</strong> Any disputes arising out of
            or relating to these Terms or the Service shall be resolved through binding arbitration in Uruguay, 
            except that you or we may bring a lawsuit in court to enjoin infringement or other
            misuse of intellectual property rights.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>11.3 Class Action Waiver:</strong> You agree to resolve any
            disputes with us on an individual basis, and you waive the right to participate in a class action
            lawsuit or class-wide arbitration.</li>
    </ul>
    
    <h2 class="text-xl mt-5"><strong>12. Modifications to Terms</strong></h2>
    <p class="">We reserve the right to modify these Terms at any
        time. We will notify you of any material changes by posting the updated Terms on our website or through
        the Service. Your continued use of the Service after the effective date of the revised Terms constitutes
        your acceptance of the changes.</p>

    <h2 class="text-xl mt-5"><strong>13. Miscellaneous</strong></h2>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>13.1 Entire Agreement:</strong> These Terms, together with our
            Privacy Policy and any other legal notices or agreements published by us on the Service, constitute
            the entire agreement between you and Soundbits (Fynmost SRL) regarding the use of the Service.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>13.2 Severability:</strong> If any provision of these Terms is
            found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum
            extent necessary, so that the remaining provisions will remain in full force and effect.</li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc"><strong>13.3 No Waiver:</strong> Our failure to enforce any right or
            provision of these Terms will not be considered a waiver of those rights.</li>
    </ul>
    <h2 class="text-xl mt-5"><strong>14. Contact Information</strong></h2>
    <p class="">If you have any questions about these Terms, please
        contact us at:</p>
    <p class="">support@soundbits.live</p>

 
</article>

{% endblock %}